@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-lora: var(--font-lora);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  /* Brand Colors */
  --primary: #f9a300; /* Warm Golden Yellow */
  --primary-hover: #e59400;

  --secondary: #009689; /* Teal Green */
  --secondary-hover: #00796f;

  --accent: #17140a; /* Deep Earth Black */

  /* Background */
  --background: #fffbf2; /* Warm Cream */
  --surface: #ffffff;
  --card: #ffffff;

  /* Text */
  --text-primary: #17140a;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;

  /* Border */
  --border: #e5e7eb;

  /* Status */
  --success: #16a34a;
  --warning: #f9a300;
  --error: #dc2626;
}

.dark {
  /* Brand Colors */
  --primary: #ffc72c; /* Bright Gold */
  --primary-hover: #ffd866;

  --secondary: #2dd4bf; /* Soft Teal */
  --secondary-hover: #5eead4;

  --accent: #f8fafc;

  /* Background */
  --background: #11110d; /* Deep Warm Black #090909*/
  --surface: #181713;
  --card: #211f18;

  /* Text */
  --text-primary: #f8fafc;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;

  /* Border */
  --border: #34312a;

  /* Status */
  --success: #4ade80;
  --warning: #ffc72c;
  --error: #f87171;
}
